{% extends "index.html" %}
{% block contents %}
<p class="credits spaced">Open Tower and its subsidiary projects are managed by<br>co-founders <a target="_blank" href="https://davidfaraci.com">David Faraci</a> and <a target="_blank" href="https://www.k-state.edu/philos/people/faculty/leachkrouse.html">Graham Leach-Krouse</a>.</p>
<p class="credits spaced">Carnap was co-developed with J. Ehrlich.</p>
<p class="credits lspaced">Site powered by <a target='_blank' href="http://flask.pocoo.org/">Flask</a> &copy; 2015 Armin Ronacher and contributors.
<p class="credits lspaced">Mobile &ldquo;hamburger&rdquo; menu adapted from <a target='_blank' href="https://codepen.io/g13nn/pen/eHGEF">CodePen</a>.
<p class="credits lspaced">Lots of code snippets due to the community at <a target='_blank' href="http://stackoverflow.com/">Stack Overflow</a>.
<p class="credits lspaced">Logo adapted from font <a target='_blank' href="http://www.dafont.com/portculliard.font"><span class=port>Portculliard Initials</span></a> by <a target='_blank' href="http://moorstation.org/typoasis/designers/lloyd/index.htm">Paul Lloyd</a>.
<p class="credits spaced">Title font <a href="http://www.dafont.com/streetvertising-public.font"><span class=street>Streetvertising Public</span></a> by <a target='_blank' href="http://www.cleanvertising.nl/">Cleanvertising</a>.</p>
<p class="credits spaced">Open Tower is copyrighted under the <a target='_blank' href="https://github.com/opentower/open-tower/blob/master/LICENSE.txt">MIT License</a>.</p>
<p class="credits spaced">Questions and comments to <a href="mailto:admin@open-tower.com">admin@open-tower.com</a>.
{% endblock %}
