{% extends "index.html" %}
{% block contents %}
<p class="credits spaced">Open Tower and its subsidiary projects are managed by<br>co-founders <a target="_blank" href="https://davidfaraci.com">David Faraci</a> and <a target="_blank" href="https://www.k-state.edu/philos/people/faculty/leachkrouse.html">Graham Leach-Krouse</a>.</p>
<p class="credits spaced">Carnap was co-developed with J. Ehrlich.</p>
<p class="credits lspaced">Site powered by <a target='_blank' href="http://flask.pocoo.org/">Flask</a> &copy; 2015 Armin Ronacher and contributors.
<p class="credits lspaced">Mobile &ldquo;hamburger&rdquo; menu adapted from <a target='_blank' href="https://codepen.io/g13nn/pen/eHGEF">CodePen</a>.
<p class="credits lspaced">Lots of code snippets due to the community at <a target='_blank' href="http://stackoverflow.com/">Stack Overflow</a>.
<p class="credits lspaced">Logo adapted from font &lsquo;<a target='_blank' href="http://www.dafont.com/portculliard.font">Portculliard</a>&rsquo; by <a target='_blank' href="http://moorstation.org/typoasis/designers/lloyd/index.htm">Paul Lloyd</a>.
<p class="credits spaced"><span class=street>Title Font</span> by <a target='_blank' href="http://www.cleanvertising.nl/">Cleanvertising</a>.</p>
<p class="credits spaced">Open Tower is copyrighted under the <a target='_blank' href="">MIT License</a>.</p>
<p class="credits spaced">Questions and comments to <a href="mailto:open-tower@gmail.com">open-tower@gmail.com</a>.
{% endblock %}
