{% extends "index.html" %}
{% block contents %}
<p class="txt">Open Tower de­vel­ops free, open source tech­nolo­gies in ser­vice of a more trans­par­ent, in­clu­sive and con­ve­nient acad­e­mia. We fo­cus on var­i­ous as­pects of aca­d­e­mic life, in­clud­ing pub­lish­ing, teach­ing and out­reach be­yond the aca­d­e­mic com­mu­nity.</p>
<p class="txt">Open Tower was co-founded by philoso­phers <a target="_blank" href="https://davidfaraci.com">David Faraci</a> and <a target="_blank" href="https://www.k-state.edu/philos/people/faculty/leachkrouse.html">Graham Leach-Krouse</a>.
</p><p class="txt">The source code for this web­site, and for Open Tower&rsquo;s sub­sidiary pro­jects, can be found on Open Tower’s <a target="_blank" href="https://github.com/opentower">GitHub or­ga­ni­za­tion site</a>.</p>
<p class="txt">For ques­tions or com­ments, or to pro­pose a new pro­ject, please con­tact us at <a href="mailto:admin@open-tower.com">admin@open-tower.com</a>.</p>
{% endblock %}
