<!DOCTYPE html>
<html lang="en">
<head>
<title>Open Tower</title>
<link rel="canonical" href="https://open-tower.com">
<link rel="icon" href="{{ url_for('static', filename='otlogo.png') }}">
<meta property="og:title" content="Open Tower">
<meta property="og:description" content="Open Source Technology for a More Trans­par­ent, In­clu­sive and Empowered Academy">
<meta property="og:image" content="https://open-tower.com/static/otlogosmall.png" />
<meta property="og:url" content="https://open-tower.com" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% if request.MOBILE %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobilesheet.css') }}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endif %}

<script>
$(function() {
    $( ".hamburger" ).click(function() {
        $( ".menu" ).slideToggle( "fast" );
    });
});
</script>

<script>
function highlight(button) {
    $ ( '#' + button ).css('border-color', '#FFA366')
}
</script>
</head>

<body>
{% if request.MOBILE %}
    <header>
    <button class="hamburger">&#9776;</button>
    </header>

    <div class=menu>
    <ul>
    <a href="/"><li>HOME</li></a>
    <a href="/projects"><li>PROJECTS</li></a>
    <a href="/mission"><li>MISSION</li></a>
    <a href="/credits"><li>CREDITS</li></a>
    </ul>
    </div>
    <table class=titlebar>
    <tr>
        <td class=title>Open</td>
        <td class=title><img class=logo src="static/otlogo.png" alt="OTLOGO.PNG"></td>
        <td class=title>Tower</td>
    </tr>
    </table>
{% else %}
    <div id=sidebar>
        <div class=title><a class=name href="/">Open<br>Tower</a></div>
        <div id=menu>
            <div id=logo><img class=logo src="static/otlogo.png" alt="OTLOGO.PNG"></div>
            <div id=button1><button id=1 class=button1 onclick="window.location='/';">Home</button></div>
            <div id=button2><button id=2 class=button2 onclick="window.location='/projects';">Projects</button></div>
            <div id=button3><button id=3 class=button2 onclick="window.location='/mission';">Mission</button></div>
            <div id=button4><button id=4 class=button1 onclick="window.location='/credits';">Credits</button></div>
        </div>
        <div id=footer>&copy; Copyright 2017 David Faraci &amp; Graham Leach-Krouse</div>
    </div>
{% endif %}

<div id=page>
{% block contents %}
{% endblock %}
{% if request.MOBILE %}
    <div id=footer>&copy; Copyright 2017 David Faraci &amp; Graham Leach-Krouse</div>
{% endif %}
</div>
</body>
</html>
