<html>
<head>
<title>Open Tower</title>
<link rel="canonical" href="">
<link rel="icon" href="{{ url_for('static', filename='otlogo.png') }}">
<meta property="og:title" content="Open Tower">
<meta property="og:description" content="Open Source Technology for a Better Academy">
<meta property="og:image" content="{{ url_for('static', filename='ottrans.png') }}" />
<meta property="og:url" content="" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% if request.MOBILE %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobilesheet.css') }}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endif %}

<script>
$(function() {
    $( ".hamburger" ).click(function() {
        $( ".menu" ).slideToggle( "fast" );
    });
});
</script>
</head>

<body>
{% if request.MOBILE %}
    <header>
    <button class="hamburger">&#9776;</button>
    </header>

    <div class=menu>
    <ul>
    <a href="/"><li>HOME</li></a>
    <a href="/projects"><li>PROJECTS</li></a>
    <a href="/mission"><li>MISSION</li></a>
    <a href="/credits"><li>CREDITS</li></a>
    </ul>
    </div>
    <table class=titlebar>
    <tr>
        <td class=title>Open</td>
        <td class=title><img src="static/otlogo.png" height="250px" width="250px"></td>
        <td class=title>Tower</td>
    </tr>
    </table>
{% else %}
    <div id=sidebar>
        <div class=title>Open<br>Tower</div>
        <div id=menu>
            <div id=logo><img src="static/otlogo.png" height="270px" width="270px"></div>
            <div id=button1><button class=button1 onclick="window.location='/';">Home</button></div>
            <div id=button2><button class=button2 onclick="window.location='/projects';">Projects</button></div>
            <div id=button3><button class=button2 onclick="window.location='/mission';">Mission</button></div>
            <div id=button4><button class=button1 onclick="window.location='/credits';">Credits</button></div>
        </div>
        <div id=footer>&copy; Copyright 2017 David Faraci &amp; Graham Leach-Krouse</div>
    </div>
{% endif %}

<div id=page>
{% block contents %}
{% endblock %}
{% if request.MOBILE %}
    <div id=footer>&copy; Copyright 2017 David Faraci &amp; Graham Leach-Krouse</div>
{% endif %}
</div>
</body>
</html>
