{% extends "index.html" %}
{% block contents %}
<div
<p class=txt>Open Tower aims to promote a more trans­par­ent, in­clu­sive and con­ve­nient acad­e­mia through the development of information technologies.</p>

<p class=txt>Open Tower technologies are open source, copyrighted under the highly permissive <a class=black target='_blank' href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>. Source code is publicly available on Open Tower's <a class=black target='blank' href="https://github.com/opentower">GitHub repository</a>.</p>

<p class=txt>Open Tower offers its technologies to the public free of charge. Exceptions will be made only as needed to defray development and management costs.</p>

<p class=txt>In service of its goals of transparency, inclusivity and convenience, Open Tower projects are publicized along with requests for feedback from potential users. In addition, where possible Open Tower will actively seek out feedback from communities whose interests are especially relevant to and/or likely to be impacted by Open Tower technologies.</p>

<p class=txt>Open Tower seeks to create or facilitate the creation of any technologies that would serve its goals. All are encouraged to approach Open Tower with ideas for further projects, including potential partnerships with other developers.</p>
{% endblock %}
