{% extends "index.html" %}
{% block contents %}
<script>highlight(3)</script>

<p class=head>Mission Statement</p>

<p class=txt>Open Tower aims to create a more transparent, inclusive, and empowered academy through the development and promotion of free and <a target='_blank' href="https://github.com/opentower">open source</a> information technologies.</p>

<p class=txt>Open Tower manages and hosts its technologies for public use free of charge, where possible, and otherwise at the minimal cost necessary for sustainability.</p>

<p class=txt>Open Tower actively seeks feedback and guidance from its users and from communities whose interests are of particular relevance to Open Tower’s mission.</p>

<p class=txt>Open Tower is always on the lookout for new projects and opportunities for collaboration. If you have a suggestion, or are interested in working with us, please contact us <a href="admin@open-tower.com">admin@open-tower.com</a>.</p>
{% endblock %}
