{% extends "index.html" %}
{% block contents %}
<p class='carnap'><a class=black target='_blank' href="http://carnap.io">Carnap</a></p>
<p class='info'>A software framework for teaching and studying formal logic. Est. 2015.</p>

<p class='margy'><a class=black target='_blank' href="https://margymail.com">MARGY</a></p>
<p class='info'>An online system that automates emailing of confidential letters of recommendation for the academic job market. Est. 2016. <span class=b>In beta. Projected release Fall 2017.</span></p>

<p class='populus'><a class=black target='_blank' href="https://populusjournal.com">Populus</a></p>
<p class='info'>An archive site and online journal with a unique crowd-sourced peer review model. Est. 2016. <span class=b>In development.</span></p>

<p class='pt'><a class=black target='_blank' href="http://personal.bgsu.edu/~faracid/pt">Philosophical Trajectories</a></p>
<p class='info'>A database collecting, analyzing and disseminating information about philosophers' publishing experiences. Est. 2013. <span class=b>Partially defunct.<span></p>
{% endblock %}
